@font-face {
    font-family: "raleway";
    src: url(fonts/Raleway-VariableFont_wght.ttf);
}

@font-face {
    font-family: "raleway light";
    src: url(fonts/static/Raleway-Light.ttf);
}

body{
    font-family: "raleway light";
    margin: 0;
}

#bloc_page{
    margin: 0 auto;
    max-width: 1440px;
}

/*partie header*/
header img{
    width: 100px;
    align-self: center;
    
}
header{
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    width: 95%;
    height: 100px;
    margin: auto;
}

nav{
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr;
    margin: 0px;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-items: center;
}

#logo_reservia{
    display: flex;
    justify-self: flex-start;
}

.lien_nav{
    text-decoration: none;
    color: inherit;
    display: flex;
}

.bouton_nav{
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.bouton_nav:hover{ 
    color : #0065FC;
    border-top: 3px solid #0065FC;
    font-weight: bold;
}

/*bouton recherche*/
h1{
    margin-bottom: 20px;
}

#recherche{
    width: 95%;
    margin: auto;
    max-width: 1440px;
}

#inscription{
    color : #0065FC;
    font-weight: bold;
}

div.bouton_recherche{
    display: inline-flex;
    margin-top: 20px;
    border: 1px solid #f2f2f2;
    border-radius: 15px;
}

.ici{
    background-color: #f2f2f2;
    font-size: 1.5em;
    padding: 15px;
    text-align: center;
    border-radius: 15px 0px 0px 15px;
}

#rechercher{
    font-size: 1.1em;
    padding: 13px;
    font-weight: bold;
    border: none;
}

button{
    background-color: #0065FC;
    color: white;
    border: none;
    padding: 10px;
    font-size: 1.1em;
    border-radius: 0px 15px 15px 0px;
}

#loupe{
    display: none;
}

/*partie des filtres*/
#filtres{
    display: flex;
    flex-direction: row;
    font-weight: bold;
    padding: 0;
    list-style-type: none;
    margin: 10px 0;
    font-size: 18px;
    flex-wrap: wrap;
}

#box_filtres{
    display: flex;
    align-items: center;
    margin-top: 20px;
    flex-flow: row wrap;
}

.logos{
    border: 3px solid #F2F2F2;
    width: 220px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    margin: 10px 10px 0 0;
}
li:hover .logofiltre{
    cursor: pointer;
    background-color: white;
}

.logos:hover{
    background-color: #DEEBFF;
}

.logofiltre{
    color: #0065FC;
    font-size: 1.4em;
    background: #deebff;
    border-radius: 50px;
    padding: 16px;
    width: 30px;
    text-align: center;
}

.nom_filtre{
    padding-left: 10px;
    font-size: 16px;
    margin: 0 10px 0 0;
}

#titre_filtres{
    margin: 10px 10px 0 0;
}

/*bouton info*/
#info{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.info{
    border: 2px solid #f2f2f2;
    padding: 6px;
    border-radius: 50px;
    width: 18px;
    text-align: center;
    margin-right: 10px;
    color: #0065FC;
}

.circle_i{
    color: #F2F2F2;
}

/*partie hébergements à marseille*/
#Hebergements{
    margin-top: 30px;
    padding-top: 30px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 40px;
    width: 95%;
    margin: auto;
}

#marseille{
    background-color: #F2F2F2;
    border-radius: 25px;
    padding: 40px;
    max-width: 820px;
}

.bloc_hebergement{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    max-width: 880px;
    grid-column-gap: 25px;
    grid-row-gap: 30px;
    max-width: 1440px;
}

.box_hebergement{
    max-width: 240px;
    height: 200px;
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 1px 1px 12px #797b80;
}

img.imghebergement{
    max-width: 235px;
    width: 100%;
    height: 115px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
    display: flex;
    margin: auto;
}

p,h3{
    margin: 0px;
    color: black;
}

.bloctexte{
    padding: 15px;
    width: 100%;
}

.starbleue{
    color:  #0065FC;
}

.stargrise{
    color: #F2F2F2;
}

a.vignette_photo{
    text-decoration: none;
}

.box_hebergement:hover{ 
    transform: scale(1.05);
    transition: 1s;
}

/*partie hébergements populaires*/
#populaire{
    background-color: #F2F2F2;
    border-radius: 25px;
    padding: 40px;
    max-width: 340px;
}

.bloc_populaire{
    display: grid;
    grid-template-columns: 340px;
    grid-template-rows: 145px 145px 145px;
    max-width: 420px;
    grid-row-gap: 35px;
}

.box_populaire{
    max-width: 340px;
    height: 145px;
    background-color: white;
    padding: 0 5px;
    border-radius: 20px;
    box-shadow: 1px 1px 12px #797b80;
}

.box_populaire:hover {
    transform: scale(1.05);
    transition: 1s;
}

img.imgpopulaire{
    width: 100%;
    height: 135px;
    object-fit: cover;
    border-radius: 15px 0px 0px 15px;
}

.bloc2{
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 140px;
    max-width: 340px;
    display: grid;
    align-items: flex-end;
}

#titre_populaire{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.graphique{
    font-size: 1.5em;
}

.bloctexte_populaire{
    padding: 15px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#afficherplus{
    margin-top: 20px;
}

/*partie activités*/
#activites{
    width: 95%;
    margin: auto;
}

h2#titre_activite{
    margin-top: 60px;
}

#bloc_activites{
    width: 1340px;
    height: 480px;
    display: flex;
    column-gap: 40px;
    margin: auto;
    margin-top: 30px;
}

#bloc_media{
    display: none;
}

#vignette1{
    display: flex;
    width: 300px;
    height: 450px;
}

#photo1{
    max-width: 300px;
    max-height: 390px;
    margin: 0;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
    display: flex;
    width: 100%;
}

#intitule1{
    width: auto;
    height: 60px;
    display: flex;
    align-items: center;
    color: black;
    padding-left: 20px;
}

#vignette2{
    display: flex;
    height: 240px;
    width: 300px;
    margin-bottom: 50px;
}

#photo2{
    max-width: 300px;
    max-height: 180px;
    margin: 0;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
    display: flex;
    width: 100%;
}

#intitule2{
    width: auto;
    height: 60px;
    display: flex;
    align-items: center;
    color: black;
    padding-left: 20px;
}

#vignette3{
    display: flex;
    height: 160px;
    width: 300px;
}

#photo3{
    max-width: 300px;
    max-height: 100px;
    margin: 0;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
    display: flex;
    width: 100%;
}

#intitule3{
    width: auto;
    height: 60px;
    display: flex;
    align-items: center;
    color: black;
    padding-left: 20px;
}

#vignette4{
    display: flex;
    height: 450px;
    width: 300px;
}

#photo4{
    max-width: 300px;
    max-height: 390px;
    margin: 0;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
    display: flex;
    width: 100%;
}

#intitule4{
    width: auto;
    height: 60px;
    display: flex;
    align-items: center;
    color: black;
    padding-left: 20px;
}

#vignette5{
    display: flex;
    height: 190px;
    width: 300px;
    margin-bottom: 50px;
}

#photo5{
    max-width: 300px;
    max-height: 130px;
    margin: 0;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
    display: flex;
    width: 100%;
}

#intitule5{
    width: auto;
    height: 60px;
    display: flex;
    align-items: center;
    color: black;
    padding-left: 20px;
}

#vignette6{
    display: flex;
    height: 210px;
    width: 300px;
}

#photo6{
    max-width: 300px;
    max-height: 150px;
    margin: 0;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
    display: flex;
    width: 100%;
}

#intitule6{
    width: auto;
    height: 60px;
    display: flex;
    align-items: center;
    color: black;
    padding-left: 20px;
}

figure{
    box-shadow: 1px 1px 12px #797b80;
    margin: 0;
    border-radius: 25px;
}

figcaption{
    height: 60px;
    width: auto;
    position: absolute;
    align-self: flex-end;
}

a{
    text-decoration: none;
}

figure:hover{
    transform: scale(1.05);
    transition: 1s;
}

/*footer*/
footer{
    display: flex;
    background-color: #f2f2f2;
    height: 220px;
    margin-top: 60px;
    justify-content: center;
}

footer h3{
    font-size: 1.5em;
    margin: 40px 0 20px 0;
}

.bloc_footer{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    width: 33%;
    padding-top: 15px;
}

.texte_footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 30px;
}

a.lien_footer:hover{
    color: #0065FC;
    text-decoration: underline;
}

/*responsive mobile*/
@media screen and (max-width: 1400px) {
    body{
        max-width: 1400px;
    }

    header{
        max-width: 1400px;
        width: 96%;
        margin: auto;
    }

    #recherche{
        width: 96%;
        margin: auto;
    }

    .bloc_hebergement{
        max-width: 1400px;
    }

    #Hebergements{
        grid-template-columns: 1fr;
    }

    #box_hebergement{
        max-width: 400px;
        width: 100%;
    }

    h2#titre_activite {
        margin: 30px 0 0px 20px;
    }

    #populaire{
        padding: 10px 20px 20px 20px;
        grid-area: 1/1/2/2;
        max-width: 1400px;
    }

    .bloc_populaire {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 25px;
        max-width: 1400px;
    }

    .bloc2{
        max-width: 1400px;
        width: 100%;
    }

    .box_populaire{
        width: 98%;
        max-width: 400px;
    }

    .bloctexte_populaire{
        padding: 0 0 0 10px;
        height: 95%;
    }

    #marseille{
        max-width: 1400px;
        padding: 20px;
        margin-top: 20px;
    }

    .box_hebergement{
        max-width: 1400px;
    }

    img.imghebergement {
        max-width: 100%;
    }

    #activites{
        width: 97%;
    }

    #bloc_activites{
        display: none;
    }
    
    #bloc_media{
        display: flex;
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
        max-width: 1400px;
        justify-content: center;
    }

    #vignette11, #vignette12, #vignette13, #vignette14, #vignette15, #vignette16{
        width: auto;
        margin: 20px;
        height: 100%;
        max-height: 300px;
    }

    .vignette{
        width: 33%;
    }

    .photo_activites{
        width: 100%;
        max-width: 420px;
        max-height: 300px;
        height: 80%;
        object-fit: cover;
        border-radius: 25px 25px 0 0;
    }

    figure{
        width: auto;
    }

    figcaption{
        padding-left: 20px;
        display: flex;
        align-items: center;
        margin-top: -5px;
    }

    footer{
        max-width: 1400px;
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    nav{
        grid-template-columns: 2fr 1fr 1fr 1fr;
    }

    .bloc_hebergement{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .bloc2{
        grid-template-columns: 35% 65%;
    }

    img.imgpopulaire{
        width: 100%;
    }

    .bloctexte, .bloctexte_populaire{
        font-size: 92%;
    }

    #bloc_media{
        max-width: 1020px;
        width: 100%;
    }

    #vignette11, #vignette12, #vignette13, #vignette14, #vignette15, #vignette16 {
        width: auto;
        margin: 20px;
        height: 100%;
        max-height: 200px;
    }

    .photo_activites {
        width: 100%;
        max-width: 300px;
        max-height: 200px;
        height: 70%;
    }

    figcaption{
        max-width: 220px;
    }

    footer{
        max-width: 1023px;
    }
}

@media screen and (max-width: 767px) {
    body{
        margin-top: 30px;
    }

    header{
        margin: 0;
        width: 100%;
    }

    nav{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    #inscription{
        grid-area: -3/-2/-2/-2;
        justify-content: flex-end;
        margin-right: 20px;
    }

    #logo_reservia{
        grid-area: -3/-2/-2/-3;
        margin-left: 20px;
    }

    #hebergements, #activite:hover{
        border-bottom: 3px solid #0065FC;
        border-top: none;
    }

    #inscription:hover{
        border-top: none;
    }

    #recherche{
        padding: 0 20px;
        width: auto;
    }

    h1{
        margin-top: 60px;
        width: 100%;
    }

    #bouton_rechercher{
        display: none;
    }

    .bouton_recherche{
        width: 95%;
    }

    #rechercher{
        width: 80%;
    }

    #loupe {
        display: flex;
        align-items: center;
        width: 13%;
        justify-content: center;
        border-radius: 15px;
        font-size: 1.2em;
    }

    #box_filtres{
        max-width: 767px;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .logos{
        margin: 0 0 15px 0;
        width: auto;
        padding-right: 10px;
        margin-right: 10px;
        height: 45px;
    }

    #filtres{
        flex-wrap: wrap;
        display: flex;
        
    }

    .logofiltre{
        height: 1.1em;
    }

    .logos .fas{
        font-size: 1.1em;
        padding: 13px;
        width: 20px;
    }

    .info{
        margin: 0;
    }

    #info{
        margin-top: 0;
    }

    #p_info{
        margin-left: 10px;
    }

    #Hebergements{
        width: auto;
    }

    #populaire{
        border-radius: 0;
    }
    
    .bloc_populaire{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-column-gap: 25px;
    }

    .box_populaire{
        max-width: 767px;
    }
    
    #marseille{
        background-color: white;
    }

    .bloc_hebergement{
        display: flex;
        flex-direction: column;
        width: 97.5%;
        margin: auto;
    }

    .box_hebergement{
        box-shadow: 1px 1px 5px #d0d2d6;
    }

    img.imghebergement{
        width: 99%;
    }

    #afficherplus{
        margin: 0;
    }

    #activites{
        width: auto;
        margin-top: 50px;
    }

    #bloc_media{
        flex-direction: column;
        width: auto;
        padding: 0 20px;
    }

    .vignette{
        width: 100%;
        margin-bottom: 10px;
    }

    #vignette11, #vignette12, #vignette13, #vignette14, #vignette15, #vignette16{
        height: 250px;
        margin: auto;
        margin-top: 30px;
    }

    img.photo_activites{
        height: 190px;
        max-width: 767px;
        width: 100%;
    }

    #intitule11, #intitule12, #intitule13, #intitule14, #intitule15, #intitule16{
        height: 55px;
    }

    .titre {
        padding-left: 20px;
        display: flex;
        align-items: center;
        margin-top: -5px;
    }

    footer{
        margin-top:60px;
        height: 100%;
        flex-direction: column;
        padding-bottom: 60px;
    }

    .bloc_footer{
        width: auto;
    }
}

